In [1]:
import pandas as pd
import numpy as np
import zipfile
from io import BytesIO
from zipfile import ZipFile
from urllib.request import urlopen
import datetime
import urllib.request, urllib.error
import os.path

## Getting JSON Information

In [2]:
path = "/Users/markswan/Projects/covid-maps/data/sco_covid_data/covid-deaths-data-week-18/covid-deaths-data-week-18_Table1-COVID_deaths.csv"
path2 = "data/sco_covid_data/covid-deaths-data-week-18 /covid-deaths-data-week-18_Table1-COVID_deaths.csv"

covid_deaths_df = pd.read_csv(path2, header=3, encoding='unicode-escape')

In [3]:
covid_deaths_small = covid_deaths_df.iloc[:, 1:22]

In [4]:
all_deaths_path = "data/sco_covid_data/custom_data/all_deaths_lad_18.csv"
covid_deaths_path = "data/sco_covid_data/custom_data/covid_deaths_lad_18.csv"
loc_deaths_all_path = "data/sco_covid_data/custom_data/deaths_by_location_all_lad_18.csv"
loc_deaths_corona_path = "data/sco_covid_data/custom_data/deaths_by_location_corona_lad_18.csv"

In [5]:
df_all_deaths = pd.read_csv(all_deaths_path, header=1)

In [6]:
json_output = df_all_deaths.to_json(index=2)

# Getting Data From Github Daily

The following Github Repo https://github.com/DataScienceScotland/COVID-19-Management-Information contains information regarding scottish information which is pulled on a daily basis.

## Weekly Data by Local Authority
Source: https://www.nrscotland.gov.uk/statistics-and-data/statistics/statistics-by-theme/vital-events/general-publications/weekly-and-monthly-data-on-births-and-deaths/deaths-involving-coronavirus-covid-19-in-scotland

In [39]:
# Get the current week number
week_num = datetime.date.today().isocalendar()[1]

In [64]:
def get_week_num():
    return datetime.date.today().isocalendar()[1]

In [187]:
def get_all_deaths_df(path):
            
    # Try get get the most recent data
    try:
        url = path + "covid-deaths-data-week-%d.zip" % get_week_num()
        conn = urllib.request.urlopen(url)
        zipfile = ZipFile(BytesIO(conn.read()))
        
        df_covid_deaths = pd.read_csv(zipfile.open('covid-deaths-data-week-18_Table 1 - COVID deaths.csv'),header = 3, encoding='unicode-escape')
        df_all_deaths = pd.read_csv(zipfile.open('covid-deaths-data-week-18_Table 2 - All deaths.csv'),header = 3, encoding='unicode-escape')
        
        df_covid_deaths_trimmed = df_covid_deaths.iloc[48:80, 1:get_week_num()+1]
        df_all_deaths_trimmed = df_all_deaths.iloc[50:82, 1:get_week_num()+1]

        
        return df_all_deaths_trimmed, df_covid_deaths_trimmed
    
    # If error, then get last week response
    except urllib.error.HTTPError as e:
        url = path + "covid-deaths-data-week-%d.zip" % (get_week_num()-1)
        conn = urllib.request.urlopen(url)
        zipfile = ZipFile(BytesIO(conn.read()))
        
        df_covid_deaths = pd.read_csv(zipfile.open('covid-deaths-data-week-18_Table 1 - COVID deaths.csv'),header = 3, encoding='unicode-escape')
        df_all_deaths = pd.read_csv(zipfile.open('covid-deaths-data-week-18_Table 2 - All deaths.csv'),header = 3, encoding='unicode-escape')
        
        df_covid_deaths_trimmed = df_covid_deaths.iloc[48:80, 1:get_week_num()+1]
        df_all_deaths_trimmed = df_all_deaths.iloc[50:82, 1:get_week_num()+1]

        
        return df_all_deaths_trimmed

In [231]:
def get_covid_deaths_df(path):
            
    # Try get get the most recent data
    try:
        url = path + "covid-deaths-data-week-%d.zip" % get_week_num()
        conn = urllib.request.urlopen(url)
        zipfile = ZipFile(BytesIO(conn.read()))
        
        df_covid_deaths = pd.read_csv(zipfile.open('covid-deaths-data-week-18_Table 1 - COVID deaths.csv'),header = 3, encoding='unicode-escape')
        df_all_deaths = pd.read_csv(zipfile.open('covid-deaths-data-week-18_Table 2 - All deaths.csv'),header = 3, encoding='unicode-escape')
        
        df_covid_deaths_trimmed = df_covid_deaths.iloc[48:80, 1:get_week_num()+1]
        df_all_deaths_trimmed = df_all_deaths.iloc[50:82, 1:get_week_num()+1]

        
        return df_all_deaths_trimmed, df_covid_deaths_trimmed
    
    # If error, then get last week response
    except urllib.error.HTTPError as e:
        url = path + "covid-deaths-data-week-%d.zip" % (get_week_num()-1)
        conn = urllib.request.urlopen(url)
        zipfile = ZipFile(BytesIO(conn.read()))
        
        df_covid_deaths = pd.read_csv(zipfile.open('covid-deaths-data-week-18_Table 1 - COVID deaths.csv'),header = 3, encoding='unicode-escape')
        df_all_deaths = pd.read_csv(zipfile.open('covid-deaths-data-week-18_Table 2 - All deaths.csv'),header = 3, encoding='unicode-escape')
        df_location = pd.read_csv(zipfile.open('covid-deaths-data-week-18_Table 3 - deaths by location.csv'), encoding='unicode-escape')
        
        df_covid_deaths_trimmed = df_covid_deaths.iloc[48:80, 1:get_week_num()+1]
        df_all_deaths_trimmed = df_all_deaths.iloc[50:82, 1:get_week_num()+1]
        

        
        return df_covid_deaths_trimmed

In [232]:
path = "https://www.nrscotland.gov.uk/files//statistics/covid19/"
df_all_deaths_trimmed = get_covid_deaths_df(path)

In [489]:
df_all_deaths_trimmed

,Unnamed: 1,30-Dec-19,6-Jan-20,13-Jan-20,20-Jan-20,27-Jan-20,3-Feb-20,10-Feb-20,17-Feb-20,24-Feb-20,2-Mar-20,9-Mar-20,16-Mar-20,23-Mar-20,30-Mar-20,6-Apr-20,13-Apr-20,20-Apr-20,27-Apr-20
48,Aberdeen City,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,12.0,18.0,15.0,15.0
49,Aberdeenshire,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,4.0,21.0,25.0,23.0,13.0
50,Angus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,8.0,12.0,19.0,7.0
51,Argyll and Bute,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,4.0,7.0,12.0,14.0,13.0
52,City of Edinburgh,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,17.0,61.0,64.0,71.0,61.0
53,Clackmannanshire,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,3.0,4.0,4.0,11.0
54,Dumfries and Galloway,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,9.0,10.0,3.0,6.0
55,Dundee City,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,21.0,29.0,27.0,22.0
56,East Ayrshire,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,10.0,12.0,11.0,10.0
57,East Dunbartonshire,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,9.0,12.0,18.0,20.0
58,East Lothian,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,21.0,21.0,15.0,5.0
59,East Renfrewshire,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.0,15.0,14.0,13.0,10.0
60,Falkirk,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,6.0,17.0,16.0,25.0,16.0
61,Fife,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,9.0,31.0,39.0,33.0,25.0
62,Glasgow City,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,7.0,46.0,97.0,95.0,123.0,83.0
63,Highland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,6.0,9.0,8.0,3.0
64,Inverclyde,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,18.0,29.0,26.0,17.0,6.0
65,Midlothian,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,11.0,16.0,15.0,26.0
66,Moray,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,2.0,2.0
67,Na h-Eileanan Siar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68,North Ayrshire,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.0,10.0,15.0,13.0,11.0,13.0
69,North Lanarkshire,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,28.0,46.0,46.0,33.0,37.0
70,Orkney Islands,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
71,Perth and Kinross,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,9.0,10.0,13.0,5.0
72,Renfrewshire,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,15.0,26.0,33.0,40.0,33.0
73,Scottish Borders,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,13.0,15.0,7.0,3.0,4.0
74,Shetland Islands,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0,1.0,0.0,1.0
75,South Ayrshire,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0,15.0,26.0,17.0,12.0
76,South Lanarkshire,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,12.0,44.0,44.0,50.0,37.0
77,Stirling,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,12.0,11.0,5.0,5.0
78,West Dunbartonshire,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,16.0,17.0,17.0,18.0,16.0
79,West Lothian,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,8.0,15.0,8.0,12.0,6.0

In [15]:
def get_death_locations_df(path, week):
            
    # Try get get the most recent data
    try:
        url = path + "covid-deaths-data-week-%d.zip" % week
        conn = urllib.request.urlopen(url)
        zipfile = ZipFile(BytesIO(conn.read()))
        
        df_location = pd.read_csv(zipfile.open('covid-deaths-data-week-%d_Table 3 - deaths by location.csv' % week), header=3, encoding='unicode-escape')
        idx_start = np.where(df_location['Unnamed: 0'] == 'Aberdeen City')[0][0]
        #idx_end = idx_start + 32
        #df_location_trimmed = df_location.iloc[idx_start:idx_end, :-2]

        
        return df_location
    
    # If error, then get last week response
    except urllib.error.HTTPError as e:
        url = path + "covid-deaths-data-week-%d.zip" % week-1
        conn = urllib.request.urlopen(url)
        zipfile = ZipFile(BytesIO(conn.read()))
        
        
        df_location = pd.read_csv(zipfile.open('covid-deaths-data-week-%d_Table 3 - deaths by location.csv' % week), header=3, encoding='unicode-escape')

        idx_start = np.where(df_location['Unnamed: 0'] == 'Aberdeen City')[0][0]
        #print(idx_start)
        #idx_end = idx_start + 32
        #df_location_trimmed = df_location.iloc[idx_start:idx_end, :-2]
        return df_location

SyntaxError: invalid syntax (<ipython-input-15-1ed6ea79e666>, line 26)

In [14]:
path = "https://www.nrscotland.gov.uk/files//statistics/covid19/"
df_death_locations_trimmed = get_death_locations_df(path, 18)
df_death_locations_trimmed

,Unnamed: 0,Care\nHome,Home / Non-institution,Hospital,Other\ninstitution3,All locations,Unnamed: 6,Care\nHome.1,Home / Non-institution.1,Hospital.1,Other\ninstitution3.1,All locations.1,Unnamed: 12,Unnamed: 13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,All areas,"1,195",216.0,"1,383",1.0,"2,795",NaN,"6,729","7,257","10,877",97.0,"24,960",NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Deaths by NHS Board of usual residence 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Ayrshire and Arran,86,19.0,87,0.0,192,NaN,499,573,926,2.0,"2,000",NaN,NaN
6,Borders,3,4.0,38,0.0,45,NaN,91,139,270,49.0,549,NaN,NaN
7,Dumfries and Galloway,8,1.0,31,0.0,40,NaN,160,237,389,0.0,786,NaN,NaN
8,Fife,54,15.0,74,0.0,143,NaN,387,480,741,0.0,"1,608",NaN,NaN
9,Forth Valley,69,15.0,72,0.0,156,NaN,411,407,575,3.0,"1,396",NaN,NaN
10,Grampian,79,19.0,61,0.0,159,NaN,609,670,"1,051",2.0,"2,332",NaN,NaN
11,Greater Glasgow and Clyde,378,46.0,486,0.0,910,NaN,"1,683","1,605","2,383",11.0,"5,682",NaN,NaN
12,Highland,24,13.0,51,0.0,88,NaN,358,498,618,0.0,"1,474",NaN,NaN
13,Lanarkshire,149,36.0,199,1.0,385,NaN,788,"1,004","1,399",12.0,"3,203",NaN,NaN
14,Lothian,252,29.0,188,0.0,469,NaN,"1,103",921,"1,506",0.0,"3,530",NaN,NaN
15,Orkney,0,0.0,2,0.0,2,NaN,10,66,10,0.0,86,NaN,NaN
16,Shetland,5,0.0,2,0.0,7,NaN,37,19,25,0.0,81,NaN,NaN
17,Tayside,88,19.0,92,0.0,199,NaN,544,599,929,18.0,"2,090",NaN,NaN
18,Western Isles,0,0.0,0,0.0,0,NaN,49,39,55,0.0,143,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Deaths by Council Area of usual residence4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Aberdeen City,32,4.0,27,0.0,63,NaN,227,229,425,0.0,881,NaN,NaN
22,Aberdeenshire,45,11.0,32,0.0,88,NaN,308,299,461,2.0,"1,070",NaN,NaN
23,Angus,31,4.0,14,0.0,49,NaN,152,180,234,0.0,566,NaN,NaN
24,Argyll and Bute,21,8.0,26,0.0,55,NaN,100,174,197,0.0,471,NaN,NaN
25,City of Edinburgh,157,13.0,108,0.0,278,NaN,679,486,793,0.0,"1,958",NaN,NaN
26,Clackmannanshire,17,1.0,8,0.0,26,NaN,85,70,96,2.0,253,NaN,NaN
27,Dumfries and Galloway,8,1.0,31,0.0,40,NaN,160,237,389,0.0,786,NaN,NaN
28,Dundee City,46,11.0,50,0.0,107,NaN,180,232,376,0.0,788,NaN,NaN
29,East Ayrshire,19,5.0,25,0.0,49,NaN,125,200,287,1.0,613,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,Fife,54,15.0,74,0.0,143,NaN,387,480,741,0.0,"1,608",NaN,NaN
35,Glasgow City,169,19.0,264,0.0,452,NaN,785,806,"1,224",5.0,"2,820",NaN,NaN
36,Highland,3,5.0,25,0.0,33,NaN,258,324,421,0.0,"1,003",NaN,NaN
37,Inverclyde,31,11.0,57,0.0,99,NaN,154,152,240,0.0,546,NaN,NaN
38,Midlothian,42,4.0,29,0.0,75,NaN,131,93,180,0.0,404,NaN,NaN
39,Moray,2,4.0,2,0.0,8,NaN,74,142,165,0.0,381,NaN,NaN
40,Na h-Eileanan Siar,0,0.0,0,0.0,0,NaN,49,39,55,0.0,143,NaN,NaN
41,North Ayrshire,29,9.0,30,0.0,68,NaN,174,206,346,1.0,727,NaN,NaN
42,North Lanarkshire,65,15.0,114,1.0,195,NaN,348,535,740,9.0,"1,632",NaN,NaN
43,Orkney Islands,0,0.0,2,0.0,2,NaN,10,66,10,0.0,86,NaN,NaN
44,Perth and Kinross,11,4.0,28,0.0,43,NaN,212,187,319,18.0,736,NaN,NaN
45,Renfrewshire,72,8.0,69,0.0,149,NaN,309,239,370,5.0,923,NaN,NaN
46,Scottish Borders,3,4.0,38,0.0,45,NaN,91,139,270,49.0,549,NaN,NaN
47,Shetland Islands,5,0.0,2,0.0,7,NaN,37,19,25,0.0,81,NaN,NaN
48,South Ayrshire,38,5.0,32,0.0,75,NaN,200,167,293,0.0,660,NaN,NaN
49,South Lanarkshire,84,21.0,85,0.0,190,NaN,440,469,659,3.0,"1,571",NaN,NaN
50,Stirling,14,5.0,25,0.0,44,NaN,108,108,155,1.0,372,NaN,NaN
51,West Dunbartonshire,41,4.0,41,0.0,86,NaN,130,168,194,0.0,492,NaN,NaN
52,West Lothian,13,8.0,31,0.0,52,NaN,145,223,327,0.0,695,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Footnotes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,1) Figures are provisional and subject to change.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,2) Figures are based on date of registration. ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,"3) Other institutions include clinics, medical...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,4) Figures include non-residents. Deaths are ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Source: National Records of Scotland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,© Crown Copyright 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_death_locations_trimmed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 14 columns):
Unnamed: 0                  56 non-null object
Care
Home                   47 non-null float64
Home / Non-institution      47 non-null float64
Hospital                    47 non-null object
Other
institution3          47 non-null float64
All locations               47 non-null object
Unnamed: 6                  0 non-null float64
Care
Home.1                 47 non-null object
Home / Non-institution.1    47 non-null object
Hospital.1                  47 non-null object
Other
institution3.1        47 non-null float64
All locations.1             47 non-null object
Unnamed: 12                 0 non-null float64
Unnamed: 13                 0 non-null float64
dtypes: float64(7), object(7)
memory usage: 7.5+ KB

In [27]:
np.where(df_death_locations_trimmed['Unnamed: 0'] == 'Aberdeen City')[0][0]

24

In [629]:
def create_all_data_df(path):
    
    dict_id = {"S12000033":"Aberdeen City","S12000034":"Aberdeenshire","S12000041":"Angus","S12000035":"Argyll and Bute","S12000036":"City of Edinburgh","S12000005":"Clackmannanshire","S12000006":"Dumfries and Galloway","S12000042":"Dundee City","S12000008":"East Ayrshire","S12000045":"East Dunbartonshire","S12000010":"East Lothian","S12000011":"East Renfrewshire","S12000014":"Falkirk","S12000015":"Fife","S12000046":"Glasgow City","S12000017":"Highland","S12000018":"Inverclyde","S12000019":"Midlothian","S12000020":"Moray","S12000013":"Na h-Eileanan Siar","S12000021":"North Ayrshire","S12000044":"North Lanarkshire","S12000023":"Orkney Islands","S12000024":"Perth and Kinross","S12000038":"Renfrewshire","S12000026":"Scottish Borders","S12000027":"Shetland Islands","S12000028":"South Ayrshire","S12000029":"South Lanarkshire","S12000030":"Stirling","S12000039":"West Dunbartonshire","S12000040":"West Lothian"}
    
    df_death_locations = get_death_locations_df(path)
    
    df_all = df_death_locations.reset_index(drop=True, inplace=False)
    headings = ['lad', 'covid_deaths_carehome', 'covid_deaths_non-institution', 'covid_deaths_hospital', 'covid_deaths_other', 'covid_deaths_total', 'blank1', 'all_deaths_carehome', 'all_deaths_non-institution', 'all_deaths_hospital', 'all_deaths_other', 'all_deaths_total']
    df_all.columns = headings        
    # Add the ratios
    
    df_all['ratio_hospital_death_covid'] = (df_all['covid_deaths_hospital'].str.replace(',', '').astype(float) / df_all['all_deaths_hospital'].str.replace(',', '').astype(float)) * 100
    df_all['ratio_carehome_death_covid'] = (df_all['covid_deaths_carehome'].str.replace(',', '').astype(float) / df_all['all_deaths_carehome'].str.replace(',', '').astype(float)) * 100
    df_all['ratio_total_death_covid'] = (df_all['covid_deaths_total'].str.replace(',', '').astype(float) / df_all['all_deaths_total'].str.replace(',', '').astype(float)) * 100
    df_all = df_all.drop(['blank1'], axis=1)
    df_all = df_all.round(1)
    df_all['id'] = dict_id.keys()
    df_all = df_all.set_index('id')
    return df_all

In [587]:
path = "https://www.nrscotland.gov.uk/files//statistics/covid19/"
df_all = create_all_data_df(path)
df_all

,lad,covid_deaths_carehome,covid_deaths_non-institution,covid_deaths_hospital,covid_deaths_other,covid_deaths_total,all_deaths_carehome,all_deaths_non-institution,all_deaths_hospital,all_deaths_other,all_deaths_total,ratio_hospital_death_covid,ratio_carehome_death_covid,ratio_total_death_covid
id,,,,,,,,,,,,,,
S12000033,Aberdeen City,32,4.0,27,0.0,63,227,229,425,0.0,881,6.4,14.1,7.2
S12000034,Aberdeenshire,45,11.0,32,0.0,88,308,299,461,2.0,"1,070",6.9,14.6,8.2
S12000041,Angus,31,4.0,14,0.0,49,152,180,234,0.0,566,6.0,20.4,8.7
S12000035,Argyll and Bute,21,8.0,26,0.0,55,100,174,197,0.0,471,13.2,21.0,11.7
S12000036,City of Edinburgh,157,13.0,108,0.0,278,679,486,793,0.0,"1,958",13.6,23.1,14.2
S12000005,Clackmannanshire,17,1.0,8,0.0,26,85,70,96,2.0,253,8.3,20.0,10.3
S12000006,Dumfries and Galloway,8,1.0,31,0.0,40,160,237,389,0.0,786,8.0,5.0,5.1
S12000042,Dundee City,46,11.0,50,0.0,107,180,232,376,0.0,788,13.3,25.6,13.6
S12000008,East Ayrshire,19,5.0,25,0.0,49,125,200,287,1.0,613,8.7,15.2,8.0
S12000045,East Dunbartonshire,40,2.0,24,0.0,66,180,134,197,0.0,511,12.2,22.2,12.9
S12000010,East Lothian,40,4.0,20,0.0,64,148,119,206,0.0,473,9.7,27.0,13.5
S12000011,East Renfrewshire,25,2.0,31,0.0,58,125,106,158,1.0,390,19.6,20.0,14.9
S12000014,Falkirk,38,9.0,39,0.0,86,218,229,324,0.0,771,12.0,17.4,11.2
S12000015,Fife,54,15.0,74,0.0,143,387,480,741,0.0,"1,608",10.0,14.0,8.9
S12000046,Glasgow City,169,19.0,264,0.0,452,785,806,"1,224",5.0,"2,820",21.6,21.5,16.0
S12000017,Highland,3,5.0,25,0.0,33,258,324,421,0.0,"1,003",5.9,1.2,3.3
S12000018,Inverclyde,31,11.0,57,0.0,99,154,152,240,0.0,546,23.8,20.1,18.1
S12000019,Midlothian,42,4.0,29,0.0,75,131,93,180,0.0,404,16.1,32.1,18.6
S12000020,Moray,2,4.0,2,0.0,8,74,142,165,0.0,381,1.2,2.7,2.1
S12000013,Na h-Eileanan Siar,0,0.0,0,0.0,0,49,39,55,0.0,143,0.0,0.0,0.0
S12000021,North Ayrshire,29,9.0,30,0.0,68,174,206,346,1.0,727,8.7,16.7,9.4
S12000044,North Lanarkshire,65,15.0,114,1.0,195,348,535,740,9.0,"1,632",15.4,18.7,11.9
S12000023,Orkney Islands,0,0.0,2,0.0,2,10,66,10,0.0,86,20.0,0.0,2.3
S12000024,Perth and Kinross,11,4.0,28,0.0,43,212,187,319,18.0,736,8.8,5.2,5.8
S12000038,Renfrewshire,72,8.0,69,0.0,149,309,239,370,5.0,923,18.6,23.3,16.1
S12000026,Scottish Borders,3,4.0,38,0.0,45,91,139,270,49.0,549,14.1,3.3,8.2
S12000027,Shetland Islands,5,0.0,2,0.0,7,37,19,25,0.0,81,8.0,13.5,8.6
S12000028,South Ayrshire,38,5.0,32,0.0,75,200,167,293,0.0,660,10.9,19.0,11.4
S12000029,South Lanarkshire,84,21.0,85,0.0,190,440,469,659,3.0,"1,571",12.9,19.1,12.1
S12000030,Stirling,14,5.0,25,0.0,44,108,108,155,1.0,372,16.1,13.0,11.8
S12000039,West Dunbartonshire,41,4.0,41,0.0,86,130,168,194,0.0,492,21.1,31.5,17.5
S12000040,West Lothian,13,8.0,31,0.0,52,145,223,327,0.0,695,9.5,9.0,7.5

In [591]:
def convert_all_types(df_all):

    df_all['covid_deaths_carehome'] = df_all['covid_deaths_carehome'].astype(int)
    df_all['covid_deaths_non-institution'] = df_all['covid_deaths_non-institution'].astype(int)
    df_all['covid_deaths_hospital'] = df_all['covid_deaths_hospital'].str.replace(',', '').astype(float)
    df_all['covid_deaths_other'] = df_all['covid_deaths_other'].astype(int)
    df_all['covid_deaths_total'] = df_all['covid_deaths_total'].astype(int)
    df_all['all_deaths_carehome'] = df_all['all_deaths_carehome'].astype(int)
    df_all['all_deaths_non-institution'] = df_all['all_deaths_non-institution'].astype(float)
    df_all['all_deaths_hospital'] = df_all['all_deaths_hospital']
    df_all['all_deaths_other'] = df_all['all_deaths_other'].astype(int)
    df_all['all_deaths_total'] = df_all['all_deaths_total'].str.replace(',', '').astype(float)
    df_all['all_deaths_hospital'] = df_all['all_deaths_hospital'].str.replace(',', '').astype(float)
    df_all['all_deaths_other'] = df_all['all_deaths_other'].astype(int)
    
    return df_all

In [597]:
def send_df_as_json(df_all_data, output_path):
    
    with open(os.path.join("https://raw.githubusercontent.com/markjswan/covid-maps/master/json/sco/", 'test123.json'), "w") as file:
        file.write(df_all_data.to_json('test345.json'))

In [589]:
json = send_df_as_json(df_all)

In [590]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, S12000033 to S12000040
Data columns (total 14 columns):
lad                             32 non-null object
covid_deaths_carehome           32 non-null object
covid_deaths_non-institution    32 non-null float64
covid_deaths_hospital           32 non-null object
covid_deaths_other              32 non-null float64
covid_deaths_total              32 non-null object
all_deaths_carehome             32 non-null object
all_deaths_non-institution      32 non-null object
all_deaths_hospital             32 non-null object
all_deaths_other                32 non-null float64
all_deaths_total                32 non-null object
ratio_hospital_death_covid      32 non-null float64
ratio_carehome_death_covid      32 non-null float64
ratio_total_death_covid         32 non-null float64
dtypes: float64(6), object(8)
memory usage: 5.0+ KB

In [592]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, S12000033 to S12000040
Data columns (total 14 columns):
lad                             32 non-null object
covid_deaths_carehome           32 non-null int64
covid_deaths_non-institution    32 non-null int64
covid_deaths_hospital           32 non-null float64
covid_deaths_other              32 non-null int64
covid_deaths_total              32 non-null int64
all_deaths_carehome             32 non-null int64
all_deaths_non-institution      32 non-null float64
all_deaths_hospital             32 non-null float64
all_deaths_other                32 non-null int64
all_deaths_total                32 non-null float64
ratio_hospital_death_covid      32 non-null float64
ratio_carehome_death_covid      32 non-null float64
ratio_total_death_covid         32 non-null float64
dtypes: float64(7), int64(6), object(1)
memory usage: 5.0+ KB

In [593]:
headings = ['lad', 'covid_deaths_carehome', 'covid_deaths_non-institution', 'covid_deaths_hospital', 'covid_deaths_other', 'covid_deaths_total', 'all_deaths_carehome', 'all_deaths_non-institution', 'all_deaths_hospital', 'all_deaths_other', 'all_deaths_total']
df_all[headings].replace({',':''}, regex=True)

,lad,covid_deaths_carehome,covid_deaths_non-institution,covid_deaths_hospital,covid_deaths_other,covid_deaths_total,all_deaths_carehome,all_deaths_non-institution,all_deaths_hospital,all_deaths_other,all_deaths_total
id,,,,,,,,,,,
S12000033,Aberdeen City,32,4,27.0,0,63,227,229.0,425.0,0,881.0
S12000034,Aberdeenshire,45,11,32.0,0,88,308,299.0,461.0,2,1070.0
S12000041,Angus,31,4,14.0,0,49,152,180.0,234.0,0,566.0
S12000035,Argyll and Bute,21,8,26.0,0,55,100,174.0,197.0,0,471.0
S12000036,City of Edinburgh,157,13,108.0,0,278,679,486.0,793.0,0,1958.0
S12000005,Clackmannanshire,17,1,8.0,0,26,85,70.0,96.0,2,253.0
S12000006,Dumfries and Galloway,8,1,31.0,0,40,160,237.0,389.0,0,786.0
S12000042,Dundee City,46,11,50.0,0,107,180,232.0,376.0,0,788.0
S12000008,East Ayrshire,19,5,25.0,0,49,125,200.0,287.0,1,613.0
S12000045,East Dunbartonshire,40,2,24.0,0,66,180,134.0,197.0,0,511.0
S12000010,East Lothian,40,4,20.0,0,64,148,119.0,206.0,0,473.0
S12000011,East Renfrewshire,25,2,31.0,0,58,125,106.0,158.0,1,390.0
S12000014,Falkirk,38,9,39.0,0,86,218,229.0,324.0,0,771.0
S12000015,Fife,54,15,74.0,0,143,387,480.0,741.0,0,1608.0
S12000046,Glasgow City,169,19,264.0,0,452,785,806.0,1224.0,5,2820.0
S12000017,Highland,3,5,25.0,0,33,258,324.0,421.0,0,1003.0
S12000018,Inverclyde,31,11,57.0,0,99,154,152.0,240.0,0,546.0
S12000019,Midlothian,42,4,29.0,0,75,131,93.0,180.0,0,404.0
S12000020,Moray,2,4,2.0,0,8,74,142.0,165.0,0,381.0
S12000013,Na h-Eileanan Siar,0,0,0.0,0,0,49,39.0,55.0,0,143.0
S12000021,North Ayrshire,29,9,30.0,0,68,174,206.0,346.0,1,727.0
S12000044,North Lanarkshire,65,15,114.0,1,195,348,535.0,740.0,9,1632.0
S12000023,Orkney Islands,0,0,2.0,0,2,10,66.0,10.0,0,86.0
S12000024,Perth and Kinross,11,4,28.0,0,43,212,187.0,319.0,18,736.0
S12000038,Renfrewshire,72,8,69.0,0,149,309,239.0,370.0,5,923.0
S12000026,Scottish Borders,3,4,38.0,0,45,91,139.0,270.0,49,549.0
S12000027,Shetland Islands,5,0,2.0,0,7,37,19.0,25.0,0,81.0
S12000028,South Ayrshire,38,5,32.0,0,75,200,167.0,293.0,0,660.0
S12000029,South Lanarkshire,84,21,85.0,0,190,440,469.0,659.0,3,1571.0
S12000030,Stirling,14,5,25.0,0,44,108,108.0,155.0,1,372.0
S12000039,West Dunbartonshire,41,4,41.0,0,86,130,168.0,194.0,0,492.0
S12000040,West Lothian,13,8,31.0,0,52,145,223.0,327.0,0,695.0

In [595]:
df_all.info()
df_all.to_json('new_test3.json')

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, S12000033 to S12000040
Data columns (total 14 columns):
lad                             32 non-null object
covid_deaths_carehome           32 non-null int64
covid_deaths_non-institution    32 non-null int64
covid_deaths_hospital           32 non-null float64
covid_deaths_other              32 non-null int64
covid_deaths_total              32 non-null int64
all_deaths_carehome             32 non-null int64
all_deaths_non-institution      32 non-null float64
all_deaths_hospital             32 non-null float64
all_deaths_other                32 non-null int64
all_deaths_total                32 non-null float64
ratio_hospital_death_covid      32 non-null float64
ratio_carehome_death_covid      32 non-null float64
ratio_total_death_covid         32 non-null float64
dtypes: float64(7), int64(6), object(1)
memory usage: 5.0+ KB

In [533]:
custom_id = "data/sco_covid_data/custom_data/all_data_custom_id.csv"
df_custom = pd.read_csv(custom_id, header=1)

In [534]:
df_custom

,id,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,S12000033,Aberdeen City,425,227,229,0,881,27,32,4,0,63,0.064,0.141,0.017,0.072
1,S12000034,Aberdeenshire,461,308,299,2,1070,32,45,11,0,88,0.069,0.146,0.037,0.082
2,S12000041,Angus,234,152,180,0,566,14,31,4,0,49,0.060,0.204,0.022,0.087
3,S12000035,Argyll and Bute,197,100,174,0,471,26,21,8,0,55,0.132,0.210,0.046,0.117
4,S12000036,City of Edinburgh,793,679,486,0,1958,108,157,13,0,278,0.136,0.231,0.027,0.142
5,S12000005,Clackmannanshire,96,85,70,2,253,8,17,1,0,26,0.083,0.200,0.014,0.103
6,S12000006,Dumfries and Galloway,389,160,237,0,786,31,8,1,0,40,0.080,0.050,0.004,0.051
7,S12000042,Dundee City,376,180,232,0,788,50,46,11,0,107,0.133,0.256,0.047,0.136
8,S12000008,East Ayrshire,287,125,200,1,613,25,19,5,0,49,0.087,0.152,0.025,0.080
9,S12000045,East Dunbartonshire,197,180,134,0,511,24,40,2,0,66,0.122,0.222,0.015,0.129
10,S12000010,East Lothian,206,148,119,0,473,20,40,4,0,64,0.097,0.270,0.034,0.135
11,S12000011,East Renfrewshire,158,125,106,1,390,31,25,2,0,58,0.196,0.200,0.019,0.149
12,S12000014,Falkirk,324,218,229,0,771,39,38,9,0,86,0.120,0.174,0.039,0.112
13,S12000015,Fife,741,387,480,0,1608,74,54,15,0,143,0.100,0.140,0.031,0.089
14,S12000046,Glasgow City,1224,785,806,5,2820,264,169,19,0,452,0.216,0.215,0.024,0.160
15,S12000017,Highland,421,258,324,0,1003,25,3,5,0,33,0.059,0.012,0.015,0.033
16,S12000018,Inverclyde,240,154,152,0,546,57,31,11,0,99,0.238,0.201,0.072,0.181
17,S12000019,Midlothian,180,131,93,0,404,29,42,4,0,75,0.161,0.321,0.043,0.186
18,S12000020,Moray,165,74,142,0,381,2,2,4,0,8,0.012,0.027,0.028,0.021
19,S12000013,Na h-Eileanan Siar,55,49,39,0,143,0,0,0,0,0,0.000,0.000,0.000,0.000
20,S12000021,North Ayrshire,346,174,206,1,727,30,29,9,0,68,0.087,0.167,0.044,0.094
21,S12000044,North Lanarkshire,740,348,535,9,1632,114,65,15,1,195,0.154,0.187,0.028,0.119
22,S12000023,Orkney Islands,10,10,66,0,86,2,0,0,0,2,0.200,0.000,0.000,0.023
23,S12000024,Perth and Kinross,319,212,187,18,736,28,11,4,0,43,0.088,0.052,0.021,0.058
24,S12000038,Renfrewshire,370,309,239,5,923,69,72,8,0,149,0.186,0.233,0.033,0.161
25,S12000026,Scottish Borders,270,91,139,49,549,38,3,4,0,45,0.141,0.033,0.029,0.082
26,S12000027,Shetland Islands,25,37,19,0,81,2,5,0,0,7,0.080,0.135,0.000,0.086
27,S12000028,South Ayrshire,293,200,167,0,660,32,38,5,0,75,0.109,0.190,0.030,0.114
28,S12000029,South Lanarkshire,659,440,469,3,1571,85,84,21,0,190,0.129,0.191,0.045,0.121
29,S12000030,Stirling,155,108,108,1,372,25,14,5,0,44,0.161,0.130,0.046,0.118
30,S12000039,West Dunbartonshire,194,130,168,0,492,41,41,4,0,86,0.211,0.315,0.024,0.175
31,S12000040,West Lothian,327,145,223,0,695,31,13,8,0,52,0.095,0.090,0.036,0.075

In [505]:
df_custom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 16 columns):
id             32 non-null object
Unnamed: 1     32 non-null object
Unnamed: 2     32 non-null int64
Unnamed: 3     32 non-null int64
Unnamed: 4     32 non-null int64
Unnamed: 5     32 non-null int64
Unnamed: 6     32 non-null int64
Unnamed: 7     32 non-null int64
Unnamed: 8     32 non-null int64
Unnamed: 9     32 non-null int64
Unnamed: 10    32 non-null int64
Unnamed: 11    32 non-null int64
Unnamed: 12    32 non-null float64
Unnamed: 13    32 non-null float64
Unnamed: 14    32 non-null float64
Unnamed: 15    32 non-null float64
dtypes: float64(4), int64(10), object(2)
memory usage: 4.1+ KB